.hi {
    display: inline-block;
    width: 1000px;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}
    .hi p {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 120px;
        line-height: 130px;
        color: #fff8;
    }
    .hi p:hover {
        background-color: seagreen;
        padding: 10px;
        border-radius: 5px;
    }